.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

h1 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.statistics {
  display: flex;
  margin-bottom: 0;
}

.statistiContainer {
  flex: 1;
}

.statisticContainer .statistic {
  width: 53px;
  font-size: 36px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  font-variant-numeric: proportional-nums;
}

.statisticTimer {
  font-variant-numeric: initial;
}

.statisticContainer .label {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#guessDistribution {
  width: 80%;
}

.graphContainer {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
}

.graphContainer .graph {
  width: 100%;
  height: 100%;
  padding-left: 4px;
}

.graphContainer .graph .graphBar {
  height: 100%;
  /* Assume no wins */
  width: 0%;
  position: relative;
  background-color: var(--color-absent);
  display: flex;
  justify-content: center;
}

.graphContainer .graph .graphBar.highlight {
  background-color: var(--color-correct);
}

.graphContainer .graph .graphBar.align-right {
  justify-content: flex-end;
  padding-right: 8px;
}

.graphCntainer .graph .numGuesses {
  font-weight: bold;
  color: var(--tile-text-color);
}

.statistics,
#guessDistribution {
  padding-bottom: 10px;
}

.footer {
  display: flex;
  width: 100%;
}

.countdown {
  border-right: 1px solid var(--color-tone-1);
  padding-right: 12px;
  width: 50%;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  width: 50%;
}

.no-data {
  text-align: center;
}

button.shareButton {
  background-color: var(--key-bg-correct);
  color: var(--key-evaluated-text-color);
  font-family: inherit;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  width: 80%;
  font-size: 20px;
  height: 52px;
}
button.shareButton:hover {
  opacity: 0.9;
}
button.shareButton .gameIcon {
  width: 24px;
  height: 24px;
  padding-left: 8px;
}

.hide {
  width: 0px;
  height: 0px;
  opacity: 0;
}
